{% extends 'restaurants/base.html' %}
{% block content %}
{% load my_tags %}
<div class="row text-center">
    <div class="col-0">
                    <h4 class="my-0 font-weight-normal">{{ restaurant.name }}</h4>
            <img src="{{ restaurant.photo|media_filter }}" class="card-img-top" alt="{{ restaurant.name }}">
                <div class="card-body">
                    <h5 class="card-title pricing-card-title">История ресторана</h5>
                    <p class="card-title pricing-card-title">{{ restaurant.history }}</p>
                    <h5 class="card-title pricing-card-title">Миссия ресторана</h5>
                    <p class="card-title pricing-card-title">{{ restaurant.mission }}</p>
                    <h5 class="card-title pricing-card-title">Команда ресторана</h5>
                    <p class="card-title pricing-card-title">{{ restaurant.command }}</p>
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary" href="{% url 'restaurants:reserve_create' restaurant.id %}">Забронировать столик</a>
                    {% else %}
    <p>Для бронирования необходимо <a href="{% url 'users:login' %}">войти в систему</a>.</p>
{% endif %}
                    <a class="btn btn-primary" href="{% url 'restaurants:restaurant_list' %}" role="button">Назад</a>
                </div>
        </div>
</div>
{% endblock %}